registry=https://pidevtest001.pkgs.visualstudio.com/_packaging/hydrogen-servcie-maven-feed/npm/registry/

always-auth=true

; begin auth token
//pidevtest001.pkgs.visualstudio.com/_packaging/hydrogen-servcie-maven-feed/npm/registry/:username=pidevtest001
//pidevtest001.pkgs.visualstudio.com/_packaging/hydrogen-servcie-maven-feed/npm/registry/:_password=czVmbmM2Y3ZsZXM3ZG11dnN5ZTJ3bWJmZ2k2N2xodm1tZHVodXp6d3VudXFyYWZsY2diYQ==
//pidevtest001.pkgs.visualstudio.com/_packaging/hydrogen-servcie-maven-feed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pidevtest001.pkgs.visualstudio.com/_packaging/hydrogen-servcie-maven-feed/npm/:username=pidevtest001
//pidevtest001.pkgs.visualstudio.com/_packaging/hydrogen-servcie-maven-feed/npm/:_password=czVmbmM2Y3ZsZXM3ZG11dnN5ZTJ3bWJmZ2k2N2xodm1tZHVodXp6d3VudXFyYWZsY2diYQ==
//pidevtest001.pkgs.visualstudio.com/_packaging/hydrogen-servcie-maven-feed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token